In [1]:
import requests
import pandas as pd
import numpy as np
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r = requests.get(url)
json = r.json()
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [2]:
elements_df = pd.DataFrame(json['elements'])
teams_df = pd.DataFrame(json['teams'])

In [3]:
elements_df.keys()
#A=elements_df[['web_name','direct_freekicks_text']]
#status=A.groupby('direct_freekicks_text')
#status.groups
#status.get_group('s')
#A.sort_values('penalties_order').head(20)

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [4]:
new_elements=elements_df[['second_name','chance_of_playing_next_round','chance_of_playing_this_round']]
new_elements['chance_of_playing_next_round']=new_elements['chance_of_playing_next_round'].fillna(200)
none=new_elements.groupby('chance_of_playing_next_round')
none.get_group(200).head(60)

<ipython-input-4-28c2f98d2601>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_elements['chance_of_playing_next_round']=new_elements['chance_of_playing_next_round'].fillna(200)

,second_name,chance_of_playing_next_round,chance_of_playing_this_round
5,Lacazette,200.0,NaN
7,Leno,200.0,NaN
8,Xhaka,200.0,NaN
10,Bellerín,200.0,NaN
13,Maitland-Niles,200.0,NaN
16,Pépé,200.0,NaN
18,Willock,200.0,NaN
20,Nketiah,200.0,NaN
25,Saliba,200.0,NaN
27,Magalhães,200.0,NaN
30,Macey,200.0,NaN
31,Rúnarsson,200.0,NaN
33,Martínez,200.0,NaN
35,El Mohamady,200.0,NaN
37,Taylor,200.0,NaN
38,Steer,200.0,NaN
39,Hourihane,200.0,NaN
43,Grealish,200.0,NaN
44,McGinn,200.0,NaN
46,Ibrahim Hassan,200.0,NaN
47,Mings,200.0,NaN
48,Targett,200.0,NaN
50,Nakamba,200.0,NaN
51,El Ghazi,200.0,NaN
52,Konsa Ngoyo,200.0,NaN
53,Guilbert,200.0,NaN
58,Soares de Paulo,200.0,NaN
59,Barkley,200.0,NaN
60,Cash,200.0,NaN
61,Watkins,200.0,NaN
63,Ramsey,200.0,NaN
66,Groß,200.0,NaN
70,Burn,200.0,NaN
75,Webster,200.0,NaN
76,Veltman,200.0,NaN
77,Maupay,200.0,NaN
79,Ryan,200.0,NaN
84,Fernandes da Silva Junior,200.0,NaN
88,Alzate,200.0,NaN
91,Steele,200.0,NaN
92,Molumby,200.0,NaN
93,Zeqiri,200.0,NaN
95,Sánchez,200.0,NaN
105,Westwood,200.0,NaN
107,Wood,200.0,NaN
109,Vydra,200.0,NaN
112,Pope,200.0,NaN
113,Taylor,200.0,NaN
114,Brownhill,200.0,NaN
116,McNeil,200.0,NaN
117,Dunne,200.0,NaN
118,Thomas,200.0,NaN
119,Benson,200.0,NaN
120,Driscoll-Glennon,200.0,NaN
121,Goodridge,200.0,NaN
122,Norris,200.0,NaN
123,Thompson,200.0,NaN
124,Richardson,200.0,NaN
125,Caballero,200.0,NaN
126,Azpilicueta,200.0,NaN

In [5]:
posts = elements_df.groupby('element_type')
print(posts.groups)

{1: Int64Index([  7,  30,  31,  33,  34,  38,  41,  79,  90,  91,  95, 112, 115,
            122, 125, 134, 149, 150, 153, 155, 180, 181, 184, 190, 200, 209,
            212, 224, 227, 237, 246, 252, 275, 289, 294, 299, 308, 315, 330,
            334, 345, 357, 361, 362, 364, 378, 402, 403, 423, 434, 436, 448,
            453, 457, 465, 477, 482, 492, 507, 513, 525, 544, 545, 546, 548,
            570, 572, 587],
           dtype='int64'), 2: Int64Index([  1,   2,   4,   6,   9,  10,  11,  12,  13,  14,
            ...
            575, 577, 578, 583, 585, 586, 593, 595, 596, 598],
           dtype='int64', length=218), 3: Int64Index([  0,   3,   8,  16,  17,  18,  19,  21,  22,  23,
            ...
            580, 581, 582, 584, 588, 589, 590, 594, 597, 599],
           dtype='int64', length=238), 4: Int64Index([  5,  20,  54,  55,  56,  57,  61,  64,  73,  77,  87,  93,  94,
            102, 103, 107, 109, 123, 124, 127, 138, 139, 151, 159, 163, 167,
            186, 197, 199, 202, 210, 222, 225, 253, 261, 273, 283, 298, 312,
            319, 335, 349, 358, 366, 376, 395, 397, 406, 417, 418, 425, 428,
            429, 430, 443, 444, 455, 460, 470, 474, 480, 487, 511, 514, 516,
            523, 524, 540, 552, 556, 559, 561, 576, 579, 591, 592],
           dtype='int64')}

In [6]:
GK = posts.get_group(1)
DF = posts.get_group(2)
MD = posts.get_group(3)
ST = posts.get_group(4)
GK

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
7,NaN,NaN,80201,0,0,0,0,1,1,4.2,...,556,59,177,9,NaN,,NaN,,NaN,
30,NaN,NaN,113534,0,0,0,0,0,1,0.5,...,372,11,430,36,NaN,,NaN,,NaN,
31,NaN,NaN,115918,0,0,0,0,0,1,0.5,...,469,43,511,62,NaN,,NaN,,NaN,
33,NaN,NaN,98980,0,0,3,-3,0,1,3.0,...,515,51,151,5,NaN,,NaN,,NaN,
34,0.0,0.0,21205,0,0,0,0,0,1,0.0,...,455,35,501,58,NaN,,NaN,,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,NaN,NaN,37096,0,0,0,0,1,1,8.0,...,549,56,186,12,NaN,,NaN,,NaN,
548,0.0,0.0,40694,0,0,0,0,0,1,0.0,...,457,37,503,60,NaN,,NaN,,NaN,
570,NaN,NaN,19236,0,0,-1,1,0,1,0.0,...,410,21,463,46,NaN,,NaN,,NaN,
572,NaN,NaN,38533,0,0,0,0,0,1,6.0,...,582,66,181,11,NaN,,NaN,,NaN,
587,0.0,0.0,216208,0,0,0,0,0,1,0.0,...,479,48,518,65,NaN,,NaN,,NaN,

In [7]:
GK_STAT = GK[['id','first_name','second_name','clean_sheets','saves']]
GK_STAT

      id  first_name          second_name  clean_sheets  saves
7      8       Bernd                 Leno             2     21
30   527        Matt                Macey             0      0
31   547  Rúnar Alex            Rúnarsson             0      0
33    12    Emiliano             Martínez             4     22
34    28         Tom               Heaton             0      0
..   ...         ...                  ...           ...    ...
546  431      Lukasz            Fabianski             3     20
548  433     Roberto         Jimenez Gago             0      0
570  453        John                Ruddy             0      0
572  455   Rui Pedro  dos Santos Patrício             4     20
587  472      Matija               Sarkic             0      0

[68 rows x 5 columns]

In [8]:
elements_df[['news']]

                                                  news
0    Not included in Arsenal's 25-man Premier Leagu...
1    Not included in Arsenal's 25-man Premier Leagu...
2
3
4
..                                                 ...
595
596
597
598              Muscle injury - 75% chance of playing
599

[600 rows x 1 columns]

In [9]:
teams_df.keys()

Index(['code', 'draw', 'form', 'id', 'loss', 'name', 'played', 'points',
       'position', 'short_name', 'strength', 'team_division', 'unavailable',
       'win', 'strength_overall_home', 'strength_overall_away',
       'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away', 'pulse_id'],
      dtype='object')

In [10]:
teams_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1190,1210,1170,1210,1190,1200,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1150,1160,1150,1150,1180,1210,2
2,36,0,None,3,0,Brighton,0,0,0,BHA,...,None,False,0,1080,1100,1150,1180,1090,1100,131
3,90,0,None,4,0,Burnley,0,0,0,BUR,...,None,False,0,1050,1080,1120,1190,1010,1030,43
4,8,0,None,5,0,Chelsea,0,0,0,CHE,...,None,False,0,1260,1280,1240,1280,1270,1310,4

In [11]:
teams_FDR=teams_df[['name','id','strength_defence_home']]
teams_FDR

              name  id  strength_defence_home
0          Arsenal   1                   1190
1      Aston Villa   2                   1180
2         Brighton   3                   1090
3          Burnley   4                   1010
4          Chelsea   5                   1270
5   Crystal Palace   6                   1020
6          Everton   7                   1210
7           Fulham   8                   1020
8        Leicester   9                   1200
9            Leeds  10                   1130
10       Liverpool  11                   1330
11        Man City  12                   1330
12         Man Utd  13                   1250
13       Newcastle  14                   1010
14   Sheffield Utd  15                   1010
15     Southampton  16                   1110
16           Spurs  17                   1280
17       West Brom  18                   1000
18        West Ham  19                   1170
19          Wolves  20                   1100

In [12]:
pd.options.mode.chained_assignment = None
G_K=GK[['second_name','team']]
G_K['defence']=0
for row in G_K.index:
    team_id=G_K['team'][row]
    team_row=teams_FDR.loc[teams_FDR['id']==team_id]
    strength=team_row['strength_defence_home']
    G_K['defence'][row]=strength
G_K

             second_name  team  defence
7                   Leno     1     1190
30                 Macey     1     1190
31             Rúnarsson     1     1190
33              Martínez     2     1180
34                Heaton     2     1180
..                   ...   ...      ...
546            Fabianski    19     1170
548         Jimenez Gago    19     1170
570                Ruddy    20     1100
572  dos Santos Patrício    20     1100
587               Sarkic    20     1100

[68 rows x 3 columns]

In [ ]:
import requests
import pandas as pd
import numpy as np
url = 'https://fbref.com/en/comps/9/keepersadv/Premier-League-Stats'
r = requests.get(url)
a=pd.read_html(url)[1]

In [2]:
a

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Goals            \
                 Squad               # Pl                90s    GA PKA FK CK
0           vs Arsenal                  1                8.0     9   1  0  1
1       vs Aston Villa                  1                7.0    18   1  0  4
2          vs Brighton                  2                8.0    11   2  0  0
3           vs Burnley                  1                7.0     3   0  0  1
4           vs Chelsea                  3                8.0    20   3  0  5
5    vs Crystal Palace                  1                8.0    12   2  1  2
6           vs Everton                  2                8.0    16   1  0  4
7            vs Fulham                  2                8.0     7   1  0  0
8      vs Leeds United                  1                8.0    14   1  0  3
9    vs Leicester City                  1                8.0    19   7  0  1
10        vs Liverpool                  2                8.0    18   4  0  2
11  vs Manchester City                  1                7.0    10   1  0  2
12   vs Manchester Utd                  1                7.0    12   2  0  1
13    vs Newcastle Utd                  1                8.0    10   3  1  1
14    vs Sheffield Utd                  1                8.0     4   2  0  1
15      vs Southampton                  1                8.0    16   1  2  0
16        vs Tottenham                  1                8.0    19   2  0  1
17        vs West Brom                  1                8.0     6   0  1  1
18         vs West Ham                  1                8.0    14   0  0  0
19           vs Wolves                  1                8.0     8   0  0  2
20             Arsenal                  1                8.0    10   0  0  2
21         Aston Villa                  1                7.0     9   0  2  0
22            Brighton                  2                8.0    14   4  0  2
23             Burnley                  1                7.0    12   1  0  4
24             Chelsea                  3                8.0    10   0  0  2
25      Crystal Palace                  1                8.0    12   3  0  1
26             Everton                  2                8.0    14   1  1  1
27              Fulham                  2                8.0    15   2  0  2
28        Leeds United                  1                8.0    17   4  1  2
29      Leicester City                  1                8.0     9   0  0  3
30           Liverpool                  2                8.0    16   1  0  2
31     Manchester City                  1                7.0     9   4  0  2
32      Manchester Utd                  1                7.0    14   4  0  0
33       Newcastle Utd                  1                8.0    13   1  0  2
34       Sheffield Utd                  1                8.0    14   0  0  3
35         Southampton                  1                8.0    12   1  0  1
36           Tottenham                  1                8.0     9   3  0  0
37           West Brom                  1                8.0    17   2  0  3
38            West Ham                  1                8.0    11   1  0  0
39              Wolves                  1                8.0     9   2  1  0

      Expected           ... Passes Goal Kicks                Crosses      \
   OG     PSxG PSxG/SoT  ... AvgLen        Att Launch% AvgLen     Opp Stp
0   0      9.6     0.36  ...   42.0         53    67.9   52.4      74   8
1   1     14.1     0.34  ...   37.7         47    68.1   53.8      71   5
2   1      9.0     0.29  ...   42.8         69    78.3   56.0      85   6
3   0      3.8     0.21  ...   40.1         47    74.5   51.4      65   9
4   0     17.8     0.32  ...   38.6         41    78.0   58.4      63   3
5   1      9.3     0.29  ...   30.6         40    45.0   37.8      51   3
6   0     12.6     0.35  ...   39.2         56    58.9   45.4      75   5
7   0      7.4     0.23  ...   39.1         64    51.6   44.2     121   9
8   0     16.6     0.36  ...   42.5         69    84.1   61.1      94  10
9   1     15.2     0.29  ...   40.3         36    77.8   55.4      51   4
10  0     18.3     0.36  ...   40.2         70    67.1   52.6      67   5
11  0      9.9     0.25  ...   38.8         69    68.1   51.0      49   5
12  1     10.2     0.28  ...   37.8         38    63.2   46.3      56   4
13  1     10.5     0.43  ...   34.2         31    48.4   39.8      57   2
14  0      5.5     0.18  ...   32.0         45    48.9   43.9      69   5
15  0     13.4     0.31  ...   44.8         54    51.9   43.7      40   3
16  0     16.0     0.32  ...   45.9         40    80.0   58.5      50   1
17  0      4.9     0.23  ...   34.9         56    64.3   49.5      61   7
18  2      9.7     0.28  ...   37.1         41    58.5   45.2      88   5
19  0      9.4     0.37  ...   38.1         60    53.3   47.8      72   7
20  1      8.1     0.28  ...   25.5         38    31.6   29.8      66   4
21  0     10.5     0.33  ...   47.0         49    81.6   62.2      80   7
22  1      9.3     0.32  ...   31.6         34    52.9   42.2      56   2
23  1     10.5     0.31  ...   51.9         42    88.1   64.1      71  10
24  0      8.0     0.33  ...   28.7         56    41.1   35.8      64   5
25  0     12.4     0.31  ...   50.1         75    81.3   58.7      83   6
26  0     10.6     0.28  ...   40.0         52    57.7   51.2      60   4
27  0     15.2     0.32  ...   33.9         47    59.6   46.3      73   9
28  1     15.5     0.38  ...   29.7         60    35.0   31.7      41   2
29  0      9.4     0.29  ...   41.1         61    62.3   48.7      70   8
30  0     14.4     0.42  ...   33.4         40    42.5   38.8      53   2
31  0      9.2     0.29  ...   32.1         41    61.0   53.9      44   3
32  1     11.9     0.40  ...   32.3         45    44.4   38.0      59   1
33  0     12.8     0.24  ...   50.3         64    85.9   62.0      74  10
34  0     13.9     0.29  ...   56.1         67    94.0   72.4      92   7
35  0     10.0     0.29  ...   36.9         36    80.6   57.4      68   6
36  1      6.2     0.18  ...   34.7         53    45.3   36.8      61   2
37  1     17.9     0.36  ...   46.1         55    72.7   51.6      72   4
38  0     10.2     0.35  ...   44.8         54    70.4   52.9      83   5
39  1      7.4     0.21  ...   44.9         57    82.5   52.9      89   9

         Sweeper
    Stp%    #OPA #OPA/90 AvgDist
0   10.8       4    0.50    13.9
1    7.0       2    0.29    12.5
2    7.1       3    0.38    14.5
3   13.8       5    0.71    17.3
4    4.8       1    0.13    12.2
5    5.9       9    1.13    17.9
6    6.7       2    0.25    13.1
7    7.4       5    0.63    15.4
8   10.6       4    0.50    13.1
9    7.8       7    0.88    14.7
10   7.5       5    0.63    13.2
11  10.2       4    0.57    12.7
12   7.1       3    0.43    13.4
13   3.5       1    0.13    10.5
14   7.2       3    0.38    12.7
15   7.5       5    0.63    15.1
16   2.0       3    0.38    13.9
17  11.5       7    0.88    15.7
18   5.7       7    0.88    15.1
19   9.7       2    0.25    15.8
20   6.1       9    1.13    18.4
21   8.8       0    0.00    12.5
22   3.6       3    0.38    14.8
23  14.1       8    1.14    15.7
24   7.8       5    0.63    15.0
25   7.2       2    0.25    13.3
26   6.7       2    0.25    13.7
27  12.3       5    0.63    14.1
28   4.9       5    0.63    13.4
29  11.4       3    0.38    11.2
30   3.8       5    0.63    15.1
31   6.8       7    1.00    17.0
32   1.7       2    0.29    13.2
33  13.5       2    0.25    11.7
34   7.6       3    0.38    13.2
35   8.8       7    0.88    17.4
36   3.3       6    0.75    15.5
37   5.6       4    0.50    14.7
38   6.0       3    0.38    13.2
39  10.1       1    0.13    10.9

[40 rows x 28 columns]